@charset "ISO-8859-1";

.pay{
	
	background-image:url("images/payment.jpg");
	background-size:cover;
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
}

.payment{
	width:450px;
	height:560px;
	background:#ffffff;
	border: 1px solid black;
	color:#000;
	position:absolute;
	box-sizing:border-box;
	padding:25px 20px;
	margin-left:500px;
	margin-top:20px;
	opacity: 0.8;
}
.head{
	text-align:center;
	padding:0 0 0px;
	font-size:30px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}
.payment p{
	margin:0;
	padding:0;
	font-weight:bold;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
	
		
}

.payment input[type="text"]{
	width:100%;
	margin-bottom:20px;
	border:none;
	border-bottom:1px solid black;
	outline:none;
	height:35px;
	color:black;
	font-size:16px;
	
}

.payment input[type="submit"]{
	width:100%;
	margin-bottom:20px;
	border:none;
	outline:none;
	height:40px;
	background:#000000;
	font-size:18px;
	color:#ffffff;
	cursor:pointer;
}
.sidebar11{
	margin-top:600px;
	margin-left:400px;
}
